body {
    padding: 0 20%;
    background-color: rgb(221, 68, 68);


    
}

header {
    text-align: center;
    border: cornflowerblue;

    
}

main{

    text-align: center;

}

li {
    list-style-type: none;
}


.nav {
    padding: 0;
    list-style: none;
    overflow: hidden;
    text-align: center;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
   
}


.nav form{

    display: inline-block;
    padding: 10px;

}


footer {
    text-align: center;
    
    
}