

@font-face {
    font-family: myFirstFont;
    src: url(Chamagne.ttf);
}




H1{

    font-family: 'myFirstFont';
    font-size: 50px;
    text-align: left;
    font-size: 70px;
    padding: 0 5%;
    text-shadow: 2px 0px black;
    opacity: 95%;

}

a:visited {
  color: white;

}
body {
    padding: 0 0%;
    background-color: rgb(221, 68, 68);
    color: white;

}

header {
    text-align: center;
    border: cornflowerblue;

    
}

main{

    text-align: center;

}

li {
    list-style-type: none;
}


.nav {
    padding: 0;
    list-style: none;
    overflow: hidden;
    text-align: center;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
   
}


.nav form{

    display: inline-block;
    padding: 10px;

}


footer {
    text-align: center;
    
    
}


.black{
    width: 125px;
    height: 70px;
    background: black;
    display: inline-block;
    padding: 20px;
    margin: auto;
    border-radius: 15px;
}


H2{

    font-size: 30px;



}