

@font-face {
    font-family: myFirstFont;
    src: url(Chamagne.ttf);
}




H1{

    font-family: 'myFirstFont';
    font-size: 50px;
    text-align: left;
    font-size: 70px;
    padding: 0 5%;
    text-shadow: 2px 0px black;
    opacity: 95%;

    margin-bottom: 0mm;


}

a:visited {
  color: white;

}
body {
    padding: 0 0%;
    background-color: rgb(221, 68, 68);
    color: white;

}

header {
    text-align: center;
    border: cornflowerblue;

    
}

main{

    text-align: center;

}

li {
    list-style-type: none;
}


.nav {
    padding: 0;
    list-style: none;
    overflow: hidden;
    text-align: right;
    margin: 100px;
    margin-top: auto;
    font-size: 20px;




}

.nav li {
    display: inline;

}

.nav a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 1px 0px;
    margin-left: 3px;


   
}


.nav form{

    display: inline-block;
    padding: 10px;



}


footer {
    text-align: center;

}


.black{
    width: 125px;
    height: 70px;
    background: black;
    display: inline-block;
    padding: 20px;
    margin: auto;
    border-radius: 15px;
    opacity: 95%;
}


H2{
    text-align: center;
    font-size: 40px;

}