<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %} {% endblock %}</title>
        {% include "_head.html" %}
    </head>
    <body>
        <header>
            <h1><a href="{{ url_for("welcome_page") }}"> FreeCode</a></h1>
            <h2>Helps for beginning developers</h2>
        </header>
        <nav>
            {% include "_nav.html" %}
        </nav>

        <main>
            {% block main %} {% endblock %}
        </main>

        <footer>
            {% include "_footer.html" %}
        </footer>
    </body>
</html>