<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %} {% endblock %}</title>
        {% include "_head.html" %}
    </head>
    <body>
        <header>
            <h1><a class="black" href="{{ url_for("welcome_page") }}"> Free Projects </a></h1>

            <nav>
                {% include "_nav.html" %}
            </nav>

        </header>


        <h2>Helps for beginning developers</h2>
        <main>
            {% block main %} {% endblock %}
        </main>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                {% for message in messages %}
                    <li>{{message}}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <footer>
            {% include "_footer.html" %}
        </footer>
    </body>
</html>